@{
    ViewData["Title"] = "Home Page";
}
<div class="background-container">

    <h1>Dungeon Master Studio</h1>
    <p>Here you can make NPCs, set up Dice and even Chat with your Party Members</p>
</div>