html {
    font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 22px;
    margin-bottom: 60px;
    font-family: 'Mate SC', serif;
    background-color: darkred;
}

.background-container {
    padding: 15px;
    border-radius: 25px;
    background-color: ghostwhite;
}

